{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Página com vídeo gratuito de Python{% endblock description %}

{% block body %}

    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ aula.modulo.get_absolute_url }}">{{ aula.modulo.titulo }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ aula.titulo }}</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <h1 class="mt-4 mb-3">{{ aula.titulo |default:'Faltando título' }}</h1>

                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ aula.youtube_id }}"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>


            </div>
        </div>
    </div>

{% endblock body %}
