<body class="d-flex flex-column min-vh-100">
<div class="wrapper flex-grow-1"></div>

<footer class="main-footer mt-5 pt-4 text-light">

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>
                    <a class="text-light" href="tel:+55 12 99207-1544" target="_blank">+55 12 99207-1544</a>
                    <br>
                    <a class="text-light" href="mailto:{{ contato_email }}"
                       target="_blank">{{ contato_email }}</a>
                </address>
            </div>
        </div>
    </div>

    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} - Python Pro. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </div>

</footer>

</body>