{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock title %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron mt-1">
                    <h2>
                        Curso de Python com Luciano Ramalho.
                    </h2>

                    <h4 class="mt-4">Matrículas abertas! Custo R$ 1000,00</h4>
                    <!-- INICIO DO BOTAO PAGSEGURO -->
                    <a href="https://pag.ae/7WV8NRFjp/button" target="_blank"
                       title="Pagar com PagSeguro"><img
                            src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                            alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a>
                    <!-- FIM DO BOTAO PAGSEGURO -->

                    {#                <h4 class="mt-4">Entre na Lista de Espera</h4>#}
                    {##}
                    {#                <form action="https://gmail.us1.list-manage.com/subscribe/post?u=71e66ae06fb7403e6b036ffcc&amp;id=4532288671"#}
                    {#                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"#}
                    {#                      class="form-row align-items-center" target="_blank" novalidate>#}
                    {#                    <div class="form-row align-items-center">#}
                    {#                        <div class="col-auto">#}
                    {#                            <label class="sr-only" for="mce-EMAIL">E-mail</label>#}
                    {#                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"#}
                    {#                                   placeholder="exemplo@email.com">#}
                    {#                        </div>#}
                    {#                        <div class="col-auto">#}
                    {#                            <label class="sr-only" for="mce-FNAME">E-mail</label>#}
                    {#                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"#}
                    {#                                   placeholder="Primeiro nome">#}
                    {#                        </div>#}
                    {##}
                    {#                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
                    {#                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"#}
                    {#                                                                                                  name="b_71e66ae06fb7403e6b036ffcc_4532288671"#}
                    {#                                                                                                  tabindex="-1"#}
                    {#                                                                                                  value=""></div>#}
                    {##}
                    {#                        <div class="col-auto">#}
                    {#                            <input type="submit" value="Salvar" name="subscribe"#}
                    {#                                   id="mc-embedded-subscribe" class="btn btn-primary">#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                </form>#}


                    {#                <p>#}
                    {#                    Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro <a#}
                    {#                        href="https://novatec.com.br/livros/pythonfluente/" target="_blank">Python Fluente</a>.#}
                    {#                </p>#}

                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <h5 class="card-header">
                                Mais detalhes sobre o instrutor
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    <img class="img-thumbnail float-md-start mr-3" alt="Foto de Luciano Ramalho"
                                         src="{% static 'img/luciano.jpg' %}">

                                <p>Luciano Ramalho é programador Python desde 1998, Fellow da Python Software
                                    Foundation; é
                                    sócio do Python.pro.br – uma empresa de treinamento – e cofundador do Garoa Hacker
                                    Clube, o primeiro hackerspace do Brasil.
                                </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}